<h2> Cart </h2>
<%= @line_items.each do |item|%>

    <h5><%= item.product.name%> </h5>
    <h5><%= item.product.price%> </h5>

    <%= form_for item, remote: true do |f|%>

        <%= f.hidden_field :product_id, :value => item.product.id %>
        <%= f.number_field :quantity, :value => item.quantity.to_i %>
        <%= f.submit "Update Cart" %>
        <%= link_to "Remove Item", line_item_path(item), method: :delete, remote: true %>

    <% end %>

    <h4>subtotal: <%= item.total %></h4>

<% end %>

<h3 style = "color:green">Your current cart value has a subtotal of: ₹ <%= current_order.subtotal %></h3>

<%= button_to "Checkout" , checkout_path %>

<%= link_to "Home", root_path %>