



<%= form_with model: restaurant, id: "new_restaurant" do |form| %>

  <div>
  <%= form.label :restaurant_image %><br>
  <%= form.file_field :image %>
  </div>


  <div>
    <%= form.label :restaurant_name %><br>
    <%= form.text_field :name %>
    <% restaurant.errors.full_messages_for(:res_name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :cuisine %><br>
    <%= form.text_area :cuisine %><br>
    <% restaurant.errors.full_messages_for(:cuisine).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>


  <div>
    <%= form.label :open_time %><br>
    <%= form.text_area :open_time %><br>
    <% restaurant.errors.full_messages_for(:open_time).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :close_time %><br>
    <%= form.text_area :close_time %><br>
    <% restaurant.errors.full_messages_for(:close_time).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :location %><br>
    <%= form.text_area :location %><br>
    <% restaurant.errors.full_messages_for(:location_id).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>



  <div>
    <%# <%= form.label :Manager %>
    <%= form.hidden_field :user_id , value: current_user.id%><br>
    <% restaurant.errors.full_messages_for(:manager_id).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.submit %>
  </div>

  <%= link_to "Home", root_path%>
<% end %>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
<script type="text/javascript">
  <%= render "validate.js" %>
</script>