
<%= render "nav" %>


<% if user_signed_in? %>
  <% if current_user.user_role.downcase == "manager" %>
    <%if @products.size == 0%>
      <h2> No Products Added Yet. Add Some ! 
      <%= link_to "Add", new_restaurant_product_path %></h2>
    <%else%>



      <p id="notice"><%= notice %></p>

<h1 style = "margin-top: 4rem;"> Products </h1>



      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Veg nveg</th>
            <th>Category</th>
            <th>Portion</th>

            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @results.each do |result| %>
            <tr>
              <td><%= result.name %></td>
              <td><%= result.price %></td>
              <td><%= result.veg_nveg %></td>
              <td><%= result.category %></td>
              <td><%= result.portion %></td>
              <td><%= link_to 'Show', restaurant_product_path(result.restaurant_id, result) %></td>
              <td><%= link_to 'Edit', edit_restaurant_product_path(result.restaurant_id, result) %>
              <td><%= link_to 'Delete', restaurant_products_path(@restaurant), method: :delete, data: { confirm: 'Are you sure?' }, :remote => true, :class => 'delete_product' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <br>
      <%= link_to 'Add Product', new_restaurant_product_path %> | 
      <%= link_to 'Back to Restaurants', restaurants_path %>
    <% end %>

      <% elsif current_user.user_role.downcase == "customer" %>
    <%if @products.size == 0%>
      <h2> No Products Added Yet.
    <%else%>

      <p id="notice"><%= notice %></p>


<h1 style = "margin-top: 4rem;"> Products </h1>



      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Veg nveg</th>
            <th>Category</th>
            <th>Portion</th>

            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @results.each do |result| %>
            <tr>
              <td><%= result.name %></td>
              <td><%= result.price %></td>
              <td><%= result.veg_nveg %></td>
              <td><%= result.category %></td>
              <td><%= result.portion %></td>

              <td><%= link_to 'Show', restaurant_product_path(result.restaurant_id, result) %></td>
              <td>
                <%= form_for @line_item, remote: true do |f|%>
                <%= f.hidden_field :product_id, :value => result.id %>
                <%= f.number_field :quantity, :value => 1, :min => 1 %>
                <%= f.submit "Add to Cart" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
            <br>
      <div id = "cart">
        <%= render 'carts/cart' %>
      </div>
    <% end %>
  <% end %>
<% end %>

