<%= render "nav" %>



<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Veg nveg:</strong>
  <%= @product.veg_nveg %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category %>
</p>

<p>
  <strong>Portion:</strong>
  <%= @product.portion %>
</p>

<p>
  <strong>Restaurant:</strong>
  <%= @product.restaurant_id %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @product.tags %>
</p>

<%# <%= link_to 'Edit', edit_restaurant_product_path %>
<%= link_to 'Back', restaurant_products_path %>

<!--

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Veg nveg:</strong>
  <%= @product.veg_nveg %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category %>
</p>

<p>
  <strong>Portion:</strong>
  <%= @product.portion %>
</p>

<p>
  <strong>Restaurant:</strong>
  <%= @product.restaurant_id %>
</p>

<%= link_to 'Back', root_path %>
-->